img {
  height: 25rem;
  width: auto;
}

.carousel {
  padding: 0;
  right: 0;
  margin-right: 0;
  width: inherit;
  height: 100vh;
  padding-top: 5rem;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.starter-text {
  height: 100vh;
  top: 0;
  bottom: 0;
  margin-left: 1.5rem;
  font-family: 'Segoe UI';
}

#buttons {
  margin-top: 9rem;
  display: flex;
  justify-content: space-around;
}

#app-name {
  margin-top: 8rem;
  margin-left: 1.5rem;
}

#app-name h1 {
  color: #2979ff;
  font-family: 'Segoe UI';
  font-size: 5rem;
  margin-bottom: 0;
}

#app-name p {
  margin-top: 0;
  color: #abb2bf;
  font-size: 1.8rem;
  font-family: 'Segoe UI';
}
