#header {
  height: 5%;
  background-color: #282c34;
  position: absolute;
  min-width: 400px !important;
}
.toolbar {
  padding: 0 !important;
}

#navSessionInfo {
  position: absolute;
  font-size: 1.5rem;
}

.navButton {
  width: auto;
}

.navButton:hover {
  background-color: 'transparent';
}

#navChatButton {
  position: absolute;
  right: 10px;
}

#point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
}
.pointLight {
  border: 1px solid #ffffff !important;
}

@media only screen and (max-width: 700px) {
  #titleContent,
  #navChatButton {
    display: none;
  }
}
