.meeting-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 20%;
}

.button {
  /* height: 3rem; */
  /* width: auto; */
  font-size: 20rem;
  box-shadow: 1px 1px 1px 1px #383d48;
  font-family: 'Segoe UI';
}

#logout-button {
  margin-right: 0;
  right: 0;
  /* padding-left: 85rem; */
}

#toolbar {
  display: flex;
  justify-content: space-between;
  /* padding: 0;
  margin: 0; */
}

.homepage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
